{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
    <h1 class="title">COVID-19 Movie Night</h1>

    <p>At the end of March 2020 just after COVID precautions were ramping up, I started a virtual weekly movie
        night with my friends. Each week we've aimed to watch a different movie and pair it with a stream of
        conciousness live commentary on Discord. It has been a great experience so far and I hope that we'll be able to
        keep it up even after COVID-19 is well behind us.</p>

    <h2>Upcoming {{ .Title }}</h2>

    <ul>
        {{- range .Pages -}}
        {{- if (time .Params.date).After now -}}
        {{- .Render "li" -}}
        {{- end -}}
        {{- end -}}
    </ul>

    <h2>Past {{ .Title }}</h2>

    <ul>
        {{- range .Pages -}}
        {{- if (time .Params.date).Before now -}}
        {{- .Render "li" -}}
        {{- end -}}
        {{- end -}}
    </ul>
</section>
{{ end }}