{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post">
    <article>
        <header>
            <div class="post-title">
                <h1 class="title">{{ .Title }}</h1>
            </div>
            <div class="post-meta">
                <div class="date">
                    <span class="posted-on">
                        <i class="fas fa-calendar"></i>
                        <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                            {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
                        </time>
                    </span>
                    {{ with .Params.infoURL }}
                    <span class="posted-on">
                        <i class="fas fa-info-circle"></i>
                        <a href="{{ . }}">Movie Information</a>
                    </span>
                    {{ end }}
                </div>
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>
        </header>

        <div>
            {{ if .Params.posterURL }}
            <img style="float: left; padding-right: 10px;" src='{{ .Params.posterURL }}' alt="Poster" />
            {{ end }}
            <h3>What did our viewers think?</h3>
            {{ .Content }}
        </div>

        <footer>
            {{ partial "posts/series.html" . }}
            {{ partial "posts/commento.html" . }}
            {{ partial "posts/utteranc.html" . }}
        </footer>
    </article>

    {{ partial "posts/math.html" . }}
</section>
{{ end }}